Задание 1:
Создайте таблицы с указанными столбцами и заполните их произвольными данными. Напоминаю, что весь текст хранится в юникоде, соответственно кирилица поддерживается. Если есть желание, то названия столбцов и данные таблицы можно вбивать на русском языке.

1. Books (id, author, title, publish_year)
2. Readers (id, name)
3. Records (reader_id, book_id, taking_date, returning_date)

Обратите внимание, что данные в таблице Records должны быть связаны с данными из других таблиц.

In [1]:
# Импортируем библиотеку для работы с SQLite
import sqlite3

# Создаем соединение с базой данных
conn = sqlite3.connect('library.db')

# Создаем курсор для выполнения запросов
cursor = conn.cursor()

In [2]:
# Создаем таблицу Books
cursor.execute('''CREATE TABLE Books
                  (id INTEGER PRIMARY KEY,
                   author TEXT,
                   title TEXT,
                   publish_year INTEGER)''')

# Создаем таблицу Readers
cursor.execute('''CREATE TABLE Readers
                  (id INTEGER PRIMARY KEY,
                   name TEXT)''')

# Создаем таблицу Records
cursor.execute('''CREATE TABLE Records
                  (reader_id INTEGER,
                   book_id INTEGER,
                   taking_date TEXT,
                   returning_date TEXT,
                   FOREIGN KEY(reader_id) REFERENCES Readers(id),
                   FOREIGN KEY(book_id) REFERENCES Books(id))''')

In [3]:
# Заполняем таблицу Books
books_data = [(1, 'Рей Брэдбери', '451 градус по Фаренгейту', 1953),
              (2, 'Чарльз Диккенс', 'Оливер Твист', 1838),
              (3, 'Габриэль Гарсия Маркес', 'Сто лет одиночества', 1967),
              (4, 'Джордж Оруэлл', '1984', 1949),
              (5, 'Рей Брэдбери', 'Вино из одуванчиков', 1957)
             ]
cursor.executemany('INSERT INTO Books VALUES (?, ?, ?, ?)', books_data)

# Заполняем таблицу Readers
readers_data = [(1, 'Антон Иванов'),
                (2, 'Илья Соболев'),
                (3, 'Алексей Смирнов')]
cursor.executemany('INSERT INTO Readers VALUES (?, ?)', readers_data)

# Заполняем таблицу Records
records_data = [(1, 1, '2022-04-01', '2022-04-10'),
                (2, 2, '2022-01-02', '2022-01-09'),
                (1, 3, '2023-03-03', None),
                (3, 4, '2021-01-04', '2021-01-08'),
                (1, 2, '2022-05-05', '2022-05-07'),
                (3, 5, '2023-01-05', None)]
cursor.executemany('INSERT INTO Records VALUES (?, ?, ?, ?)', records_data)
# Сохраняем изменения в базе данных
conn.commit()

Задание 2:
Постройте select запросы:

1. Запрос возвращает id и названия книг, находящихся в данный момент на руках у читателей.
2. Запрос возвращает имена читателей и названия книг, которые они когда либо брали.
3. Запрос возвращает количество книг для каждого автора.

In [4]:
# Выполняем запросы

# Запрос 1
query1 = '''SELECT Books.id, Books.title
            FROM Books
            INNER JOIN Records ON Books.id = Records.book_id
            WHERE Records.returning_date IS NULL'''
result1 = cursor.execute(query1).fetchall()
print('Результат запроса 1:')
print(result1)
print()

# Запрос 2
query2 = '''SELECT Readers.name, Books.title
            FROM Readers
            INNER JOIN Records ON Readers.id = Records.reader_id
            INNER JOIN Books ON Records.book_id = Books.id'''
result2 = cursor.execute(query2).fetchall()
print('Результат запроса 2:')
print(result2)
print()

# Запрос 3
query3 = '''SELECT Books.author, COUNT(Books.id)
            FROM Books
            INNER JOIN Records ON Books.id = Records.book_id
            GROUP BY Books.author'''
result3 = cursor.execute(query3).fetchall()
print('Результат запроса 3:')
print(result3)
print()

# Закрываем соединение с базой данных
conn.close()

Результат запроса 1:
[(3, 'Сто лет одиночества'), (5, 'Вино из одуванчиков')]

Результат запроса 2:
[('Антон Иванов', '451 градус по Фаренгейту'), ('Илья Соболев', 'Оливер Твист'), ('Антон Иванов', 'Сто лет одиночества'), ('Алексей Смирнов', '1984'), ('Антон Иванов', 'Оливер Твист'), ('Алексей Смирнов', 'Вино из одуванчиков')]

Результат запроса 3:
[('Габриэль Гарсия Маркес', 1), ('Джордж Оруэлл', 1), ('Рей Брэдбери', 2), ('Чарльз Диккенс', 2)]